* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

body {
    width: 100%;
    background-color: #EBEBEB;
    color: #171717;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #F6EB1E;
}

/*barra de navegacion */


input {
    border: 1px #ffffff solid;
    outline-color: rgb(0, 102, 255);

}
a{
    color: black;
    text-decoration: none;
}

nav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.ContenedorDeTexto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

select{
    background-color: #F6EB1E;
    border: 0;
    outline: 0;
}



select option {
    background-color: #333;
    color: #fff;
}

#Buscador{
    width: 500px;
    height: 40px;
    border-left: 5px;
}

#Lupa{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    outline: 0;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#EmpiezaElAñoImg{
    width: 340px;
    height: 40px;
}

#TextoNav1{
    display: flex;
    padding-top: 20px;
    gap: 20px;
}

#TextoNav2{
    display: flex;
    padding-top: 15px;
    gap: 20px;
}




/*contenido de la página*/
#banner{
    width: 100%;
    height: 340px;
}

.TextodDeCuadriculas h2{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-top: 30px;
    gap: 15px;
    font-size: 1.50rem;
    font-weight: 500;
}

.CuadriculaTipo1{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    padding-top: 15px;
    padding-left: 60px;
    padding-right: 150px;
    
}

.CuadriculaTipo1 a{
    width: 20px;
}

.CuadriculaTipo1 a img:hover{
    border-radius: 10px;
    width: 600px;
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.CuadriculaTipo2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-top: 15px;
    padding-left: 62px;
    padding-right: 30px;
}

.CuadriculaTipo2 a{
    width: 20px;
}

.CuadriculaTipo2 a img{
    border-radius: 10px;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

#Texto3raCuadricula h2{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    padding-top: 90px;
    gap: 15px;
    font-size: 1.50rem;
}

.ContenedorDeCuadriculas3{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.CuadriculaTipo3{
    padding-left: 62px;
    padding-top: 15px;
}

.CuadriculaTipo3 img{
    border-radius: 10px;
    width: 300px;
}

.CuadriculaTipo4{
    width: 100%;
    padding: top;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.CuadriculaTipo4 a{
    width: 20px;
}

.CuadriculaTipo4 a img:hover{
    width: 180px;
    height: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer{
    display: flex;
    flex-direction: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    gap: 22px;
    padding-left: 50px;
}